{% extends "base.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/estilobeta.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
<div id="error-container">

</div>
<div class="container-form">
    <div class="form">
        <div class="contact-form">
            <span class="circle one"></span>
            <span class="circle two"></span>
            <form action="." method="POST">
                {% csrf_token %}
                <h3 class="title">Crear Grupo</h3>
                <div class="input-container focus">
                    <input type="text" name="nombre_grupo" value="{{grupo.name}}" class="input" required id="grupo">
                    <label for="">Nombre</label>
                    <span>Nombre</span>
                </div>
                <h5 style="color:white" class="title">Permisos:</h5>
                <div style="border: solid 2px white; padding-left: 10px; border-radius: 10px;" class="mb-2 permisos" id="contenedor-permisos">
                {% for permiso  in permisos  %}
                <div class="form-check" >
                    <input type="checkbox" {% if permiso.0 %}checked{% endif %} name="permisos[]" class="form-check-input" value="{{ permiso.1.id }}" id="permiso{{ permiso.1.pk }}">
                    <label style="color:white" for="permiso{{ permiso.1.pk }}" class="form-check-label">
                        {{ permiso.1.name }}
                    </label>
                </div>
                {% endfor %}
                </div>
                <input type="submit" value="Editar Grupo" class="btn1" id="boton">
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- Conatiner JS -->
{% block js %}
<script src="{% static 'Plataforma/js/FormularioSelect.js' %}"></script>
<script src="{% static 'Plataforma/js/Crear Grupo.js' %}"></script>
{% endblock %}
<!-- End Conatiner JS -->