{% extends "base.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/Dashboard.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/libs/Datatable/CSS/buttons.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/libs/Datatable/CSS/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/css/datatableSD.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->


{% block content %}
<main class="content-inside px-3 py-2">
    <section id="tablaTramites">
        <div class="card">
            <div class="card-header grupo">
                <h5 class="card-title">
                    Grupos
                </h5>
                <a href="{% url 'CrearGrupo' %}" class="btn btn-primary btn-sm ">Crear Grupo</a>
            </div>
            <div class="p-2">
            <table id="Grupos" class="display table table-striped table-hover table-primary"
                style="width:100%; height: 100%;">
                <thead class="encabezado">
                    <tr>
                        <th scope="col" style="color: white; text-align: start;">#</th>
                        <th scope="col" style="color: white; text-align: start;">Nombre del grupo</th>
                        <th scope="col" style="color: white; text-align: start;">Usuarios por grupo</th>
                        <th scope="col" style="color: white; text-align: center;">Opción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grupo in grupos_query %}
                    <tr>
                        <td style="text-align: start;">{{ forloop.counter }}</td>
                        <td style="text-align: start;">{{grupo.name}}</td>
                        <td style="text-align: start;">{{grupo.user_count}} usuario(s)</td>
                        <td style="text-align: center; font-size: 1.2rem;">
                            <a class="iconos p-2" href="{% url "EditarGrupo" grupo.id %}"><i class=" fas fa-solid fa-pen-to-square"></i></a>
                            <a class="iconos p-2" data-bs-toggle="modal" data-bs-target="#Grupo{{ grupo.id }}"><i class="fas fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="Grupo{{ grupo.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="color:black"><i class="bi bi-exclamation-triangle"
                                style="color:black"></i> Advertencia</h5>
                            <button type="button" class="btn-close cerrar" data-bs-dismiss="modal" aria-label="Close" style="box-shadow: none"></button>
                            </div>
                            <div class="modal-body" style="color:black">
                            ¿Desea eliminar este grupo?
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'EliminarGrupo' grupo.id %}" class="btn btn-primary">Aceptar</a>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                           
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </section>
</main>
{% endblock %}

<!-- Conatiner JS -->
{% block js%}
<script src="{% static 'Plataforma/libs/Datatable/JS/jquery-3.7.1.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.bootstrap5.js' %}"></script>
<!--Botones DataTables-->
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.buttons.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.bootstrap5.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/jszip.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/pdfmake.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/vfs_fonts.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.html5.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.print.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/bottons.colVis.min.js' %}"></script>
<!--DataTables responsivo-->
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.responsive.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/responsive.bootstrap5.js' %}"></script>
<!--Inicializar DataTables-->
<script src="{% static 'Plataforma/libs/Datatable/JS/Grupos.js' %}"></script>
{% endblock %}
<!-- End Conatiner JS -->