{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
  <link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/buttons.bootstrap5.css' %}">
  <link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/responsive.bootstrap5.css' %}">
  <link rel="stylesheet" href="{% static 'css/datatableSD.css' %}">
{% endblock %}

{% block content %}
  <section class="tabla" id="Proyecto">
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div style="position: absolute; right: 20px; top: 40px; display: flex; align-items: center; padding-right: 0rem; z-index: 2000;"
              class="alert alert-success alert-dismissible fade show" role="alert">
        {% elif message.tags == 'error' %}
          <div style="position: absolute; right: 20px; top: 40px; display: flex; align-items: center; padding-right: 0rem; z-index: 2000; "
              class="alert alert-danger alert-dismissible fade show" role="alert">
        {% endif %}
          {{ message }}
            <button style="font-size: 10px; border-bottom: none; position: relative; box-shadow: none;" type="button"
              class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
    {% endif %}
    <div class="card card-a p-3 h-100">
      <div class="card-header">
        <h5 class="card-title title-t" style=" text-align: start;">
          <i class="bi bi-file-earmark-text-fill"></i>
            Proyectos
        </h5>
      </div>      
      <table id="Proyectos" class="display table table-striped table-hover table-primary" style="width:100%; height: 100%;">
        <thead class="encabezado">
          <tr>
            <th scope="col" style="color: white; text-align: center;">No</th>
            <th scope="col" style="color: white; text-align: center;">Nombre</th>
            <th scope="col" style="color: white; text-align: center;">Jefe</th>
            <th scope="col" style="color: white; text-align: center;">Área</th>
            <th scope="col" style="color: white; text-align: center;">Código</th>
            <th scope="col" style="color: white; text-align: center;">Estado</th>
            <th scope="col" style="color: white; text-align: center;">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for p in proyectos %}
            <tr>
              <td style=" text-align: center;">{{forloop.counter}}</td>
              <td style=" text-align: center;">{{p.nombre_proyecto}}</td>
              <td style=" text-align: center;">{{p.jefe_proyecto}}</td>
              <td style=" text-align: center;">{{p.area}}</td>
              <td style="text-align: center;">{{p.codigo_proyecto }}</td>
              <td style=" text-align: center;"><a class="cambiar-estado" style=" text-decoration: none; " href="{% url "Cambiar_Estado_Proyecto" p.id %}">{{ p.aprobacion }}</a></td>
              <td style=" text-align: center;">
                <a href= "{% url 'Proyecto_Detail_JefeDepartamento' p.id %}"> <i class="ico fas fa-solid fa-info-circle"></i></a>
                <a class="iconos" data-bs-toggle="modal" data-bs-target="#Proyecto{{ p.id }}"><i class="ico fas fa-solid fa-trash-can"></i></a>
              </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="Proyecto{{ p.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color:black"><i class="bi bi-exclamation-triangle"
                      style="color:black"></i> Eliminar</h5>
                    <button type="button" class="btn-close cerrar" data-bs-dismiss="modal" aria-label="Close" style="box-shadow: none"></button>
                  </div>
                  <div class="modal-body" style="color:black">
                    ¿Desea eliminar el Proyecto seleccionado?
                    Esta acci&oacute;n ser&aacute; permanente.
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'Proyecto_Delete_JefeArea' p.id  %}" class="btn btn-primary">Aceptar</a>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                    
                  </div>
                </div>
              </div>
            </div>     
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="option bgs">
      <div class="bg-active" id="bg-active"></div>
    </div>
  </section>
{% endblock %}
   
{% block js %}
  <script src="{% static 'libs/Datatable/JS/jquery-3.7.1.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/dataTables.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/dataTables.bootstrap5.js' %}"></script>
  <!--Botones DataTables-->  
  <script src="{% static 'libs/Datatable/JS/dataTables.buttons.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/buttons.bootstrap5.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/jszip.min.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/pdfmake.min.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/vfs_fonts.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/buttons.html5.min.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/buttons.print.min.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/bottons.colVis.min.js' %}"></script>  
  <!--DataTables responsivo-->
  <script src="{% static 'libs/Datatable/JS/dataTables.responsive.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/responsive.bootstrap5.js' %}"></script>  
  <!--Inicializar DataTables-->
  <script src="{% static 'libs/Datatable/JS/Proyectos.js' %}"></script>
{% endblock %}
