{% extends "base.html" %}
{% load static %}

<!-- Container CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'Plataforma/css/estilobeta.css' %}">
{% endblock %}
<!-- End Container CSS -->

{% block content %}
<div class="container-form">
    <div class="form">
        <div class="contact-form">
            <form action="." method="POST">
                {% csrf_token %}
                <h3 class="title">Editar Carácter de Premio</h3>
                <div class="input-container">
                     {{ form.as_p }}
                </div>
                <input type="submit" value="Guardar" class="btn1" id="boton">
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- Container JS -->
{% block js %}
<script src="{% static 'Plataforma/js/FormularioSelect.js' %}"></script>
<script src="{% static 'Plataforma/js/CrearCaracteristica.js' %}"></script>
{% endblock %}
<!-- End Container JS -->