*, ::after::before{
    box-sizing: border-box;
    
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: #fff;
}


.content-inside{
    flex: 1;
    max-width: 100vw;
    width: 100%;
    margin-left: 5px;
}

.pdf{
    display: flex;
    gap: 220px;
}


.grupo{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
}

@media(min-width:768px){
    .content{
        max-width:auto;
        width: auto;
    }
}

.card{
    box-shadow: 0px 16px 32px 0px rgba(109, 109, 109, 0.15);
    margin-bottom: 1rem;
}

.card-body{
    box-shadow: 0px 16px 32px 0px rgba(109, 109, 109, 0.15);
    margin-bottom: 1rem;
}


.small-box{
    border-radius: 4px;
    box-shadow: 0px 16px 32px 0px rgba(109, 109, 109, 0.15) !important;
    display:block;
    margin-bottom:20px;
    position:relative;
}
.small-box>.inner{
    padding:10px;
}
.small-box>.small-box-footer{
    background-color:rgba(0,0,0,.1);
    color:rgba(255,255,255,.8);
    display:block;
    padding:3px 0;
    position:relative;
    text-align:center;
    text-decoration:none;
    z-index:10;
}
.small-box>.small-box-footer:hover{
    background-color:rgba(0,0,0,.15);
    color:#fff;
}
.small-box h3{
    font-size:2.2rem;
    font-weight:700;
    margin:0 0 10px;
    padding:0;
    white-space:nowrap;
}
@media (min-width:992px){
    .col-lg-2 .small-box h3,.col-md-2 .small-box h3,.col-xl-2 .small-box h3{
        font-size:1.6rem;
    }
    .col-lg-3 .small-box h3,.col-md-3 .small-box h3,.col-xl-3 .small-box h3{
        font-size:1.6rem;
    }
}
@media (min-width:1200px){
    .col-lg-2 .small-box h3,.col-md-2 .small-box h3,.col-xl-2 .small-box h3{
        font-size:2.2rem;
    }
    .col-lg-3 .small-box h3,.col-md-3 .small-box h3,.col-xl-3 .small-box h3{
        font-size:2.2rem;
    }
}
.small-box p{
    font-size:1rem;
}
.small-box p>small{
    color:#f8f9fa;
    display:block;
    font-size:.9rem;
    margin-top:5px;
}
.small-box h3,.small-box p{
    z-index:5;
}
.small-box .icon{
    color:rgba(0,0,0,.15);
    z-index:0;
}

.small-box .icon>i{
    font-size:90px;
    position:absolute;
    right:15px;
    top:15px;
    transition:-webkit-transform .3s linear;transition:transform .3s linear;transition:transform .3s linear,-webkit-transform .3s linear;
}
.small-box .icon>i.fa,.small-box .icon>i.fab,.small-box .icon>i.fad,.small-box .icon>i.fal,.small-box .icon>i.far,.small-box .icon>i.fas,.small-box .icon>i.ion{
    font-size:70px;
    top:20px;
}
.small-box .icon svg{
    font-size:70px;
    position:absolute;
    right:15px;
    top:15px;
    transition:-webkit-transform .3s linear;transition:transform .3s linear;transition:transform .3s linear,-webkit-transform .3s linear
}
.small-box:hover{
    text-decoration:none;
}
.small-box:hover .icon>i,.small-box:hover .icon>i.fa,.small-box:hover .icon>i.fab,.small-box:hover .icon>i.fad,.small-box:hover .icon>i.fal,.small-box:hover .icon>i.far,.small-box:hover .icon>i.fas,.small-box:hover .icon>i.ion{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.small-box:hover .icon>svg{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
@media (max-width:450px){
    .small-box{
        text-align:center
    }

    .small-box .icon{
        display:none;
    }
    .small-box p{
        font-size:12px;
    }
}

.inner{
    color: #fff;
}

.bg-box-one{
    background: linear-gradient(-45deg, #4481eb,#222e58);
}

.bg-box-two{
    background: #4481eb;
}

.data{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: left;
}
.data label{
    color: #222e58;
    font-weight: bolder;
}

.data span{
    color: black;
    font-weight: 500;
    background: #ececec;
    text-align: center;
}



