{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'libs/Datatable/CSS/buttons.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'libs/Datatable/CSS/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'css/datatableSD.css' %}">
<link rel="stylesheet" href="{% static 'css/styless.css' %}">
{% endblock %}

{% block content %}
<section class="tabla" id="Evento">
    <div class="card-header">
        <h5 class="card-title" style="text-align:center;">
            Historial de Indexaciones de Revistas
        </h5>
    </div>
    <div class="boot d-flex flex-wrap justify-content-start align-items-center" style="margin-bottom: 20px;">
        <a href="{% url 'BasesDatos_create' %}" class="btn boton-form">
            <i class="fas fa-plus"></i> Nuevo</a>
    </div>
    <div class="table-responsive">
        <p><strong>Total:</strong> {{ bases_datos|length }} indezaciones de revistas</p>
        <table id="BasesDatos" class="display table table-striped table-hover table-primary" style="width:100%">
            <thead class="encabezado">
                <tr>
                    <th scope="col" style="text-align: center;">No</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">URL</th>
                    <th scope="col" style="text-align: center;">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for base in bases_datos %}
                <tr>
                    <td style="text-align: start;">{{ forloop.counter }}</td>
                    <td style="text-align: start;">{{ base.nombre_base_datos }}</td>
                    <td style="text-align: start;">{{ base.get_grupo_display }}</td>
                    <td style="text-align: start;">
                        <a href="{{ base.url }}" target="_blank" class="url-link">{{ base.url }}</a>
                    </td>
                    <td style="text-align: center; font-size: 1.2rem;">
                        <a href="{% url 'BasesDatos_detail' base.id %}" title="Ver detalles">
                            <i class="detail fa-solid fa-info-circle mx-1 fs-6"></i>
                        </a>
                        <a href="{% url 'BasesDatos_Update' base.id %}" title="Editar">
                            <i class="update fas fa-solid fa-pen-to-square mx-1 fs-6"></i>
                        </a>
                        <a data-bs-toggle="modal" data-bs-target="#BasesDatos{{ base.id }}" title="Eliminar">
                            <i class="delete fas fa-solid fa-trash-can mx-1 fs-6"></i>
                        </a>
                    </td>
                </tr>
                <!-- Modal de Confirmación -->
                <div class="modal fade" id="BasesDatos{{ base.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <i class="bi bi-exclamation-triangle"></i> Advertencia
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    style="box-shadow: none"></button>
                            </div>
                            <div class="modal-body">
                                ¿Desea eliminar la indexación "{{ base.nombre_base_datos }}"?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-cancelar"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <form method="post" action="{% url 'BasesDatos_Delete' base.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn boton-form">Aceptar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center;">No hay indexaciones registradas</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

<!-- Container JS -->
{% block js %}
<script src="{% static 'Plataforma/libs/Datatable/JS/jquery-3.7.1.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.buttons.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.bootstrap5.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/jszip.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/pdfmake.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/vfs_fonts.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.html5.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.print.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.responsive.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/responsive.bootstrap5.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#BasesDatos').DataTable({
            responsive: true,
            language: {
                url: "{% static 'Plataforma/libs/Datatable/dataTableLenguage.json' %}"
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            columnDefs: [
                { orderable: false, targets: [4] } // Deshabilitar ordenamiento para columna de opciones
            ]
        });
    });
</script>
{% endblock %}
<!-- End Container JS -->