{% extends "base.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'css/Dashboard.css' %}">
<link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/buttons.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'css/datatableSD.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
<div class="main" style="padding-top:60px;">
  <main class="content-inside px-3 py-2">
    <div class="container-fluid">
      <div class="container-fluid">
          <!--Table Element-->
          <section id="tablaTramites">
            <div class="card card-a p-3 h-100">
              <div class="card-header">
                <h5 class="card-title title-t" style=" text-align: start;">
                    Artículos
                </h5>
              </div>
              <table id="Articulos" class="display table table-striped table-hover table-primary" style="width:100%; height: 100%;">
                <thead class="encabezado">
                  <tr>
                    <th scope="col" style="color: white; text-align: center;">No</th>
                    <th scope="col" style="color: white; text-align: center;">Título</th>
                    <th scope="col" style="color: white; text-align: center;">Fecha</th>
                    <th scope="col" style="color: white; text-align: center;">Autores</th>
                    <th scope="col" style="color: white; text-align: center;">Area</th>
                    <th scope="col" style="color: white; text-align: center;">Departamento</th>
                    <th scope="col" style="color: white; text-align: center;">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  {% for a in articulo %}
                    <tr>
                      <td style=" text-align: center;">{{forloop.counter}}</td>
                      <td style=" text-align: start;">{{a.titulo}}</td>
                      <td style=" text-align: start;">{{a.fecha_creacion}}</td>
                      <td style=" text-align: start;">{{a.autores}}</td>
                      <td style=" text-align: start;">{{a.area}}</td>
                      <td style="text-align: start;">{{a.departamento}}</td>
                      <td style="text-align: start;">{{a.aprobacion }}</td>
                    </tr>  
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </section>
    </div>
  </main>
</div>
 
  {% endblock %}

  <!-- Conatiner JS -->
  {% block js%}
  <script src="{% static 'libs/Datatable/JS/jquery-3.7.1.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/dataTables.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/dataTables.bootstrap5.js' %}"></script>
  
  <script src="{% static 'libs/Datatable/JS/dataTables.buttons.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/buttons.bootstrap5.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/jszip.min.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/pdfmake.min.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/vfs_fonts.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/buttons.html5.min.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/buttons.print.min.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/bottons.colVis.min.js' %}"></script>
  
  <script src="{% static 'libs/Datatable/JS/dataTables.responsive.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/responsive.bootstrap5.js' %}"></script>
  
  <script src="{% static 'libs/Datatable/JS/Articulos_expo.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/highcharts.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/modules/accessibility.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/modules/exporting.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/modules/offline-exporting.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/modules/export-data.js' %}"></script>

  {% endblock %}
  <!-- End Conatiner JS -->
