{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'libs/Datatable/CSS/buttons.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'libs/Datatable/CSS/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'css/datatableSD.css' %}">
<link rel="stylesheet" href="{% static 'css/styless.css' %}">
{% endblock %}

{% block content %}
<section class="tabla" id="Revista_Libro_Conferencia">
  <div class="card-header">
    <h5 class="card-title" style="text-align:center;">
      Historial de Revistas
    </h5>
  </div>
  <div class="boot d-flex flex-wrap justify-content-start align-items-center" style="margin-bottom: 20px;">
    <a href="{% url 'Revista_Libro_Conferencia_Create' %}" class="btn boton-form">
      <i class="fas fa-plus"></i> Nuevo</a>
  </div>
  <div class="table-responsive">
    <p><strong>Total:</strong> {{ objetos|length }} revistas</p>
    <table id="RevistaLibroConferencia" class="display table table-striped table-hover table-primary"
      style="width:100%; height: 100%;">
      <thead class="encabezado">
        <tr>
          <th scope="col" style="text-align: center;">No</th>
          <th scope="col">Nombre</th>
          <th scope="col">Editorial</th>
          <th scope="col">ISSN</th>
          <th scope="col">URL</th>
          <th scope="col">País</th>
          <th scope="col">Indexación</th>
          <th scope="col" style="text-align: center;">Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in objetos %}
        <tr>
          <td style="text-align: center;">{{ forloop.counter }}</td>
          <td>{{ obj.titulo }}</td>
          <td>{{ obj.editorial }}</td>
          <td>{{ obj.issn }}</td>
          <td>{{ obj.url }}</td>
          <td>{{ obj.pais }}</td>
          <td>{{ obj.index }}</td>
          <td style="text-align: center;">
            <a href="{% url 'Revista_Libro_Conferencia_Detail' obj.id %}"><i
                class="detail fa-solid fa-info-circle mx-1 fs-6"></i></a>
            <a href="{% url 'Revista_Libro_Conferencia_Update' obj.id %}"><i
                class="update fas fa-solid fa-pen-to-square mx-1 fs-6"></i></a>
            <a class="iconos" data-bs-toggle="modal" data-bs-target="#RevistaLibroConferencia{{ obj.id }}"><i
                class="delete fas fa-solid fa-trash-can mx-1 fs-6"></i></a>
          </td>
        </tr>

        <!-- Modal for each row -->
        <div class="modal fade" id="RevistaLibroConferencia{{ obj.id }}" tabindex="-1"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  <i class="bi bi-exclamation-triangle"></i> Advertencia
                </h5>
                <button type="button" class="btn-close cerrar" data-bs-dismiss="modal" aria-label="Close"
                  style="box-shadow: none"></button>
              </div>
              <div class="modal-body">
                ¿Desea eliminar la Revista "{{ obj.titulo }}"?
                Esta acci&oacute;n ser&aacute; permanente.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
                <a href="{% url 'Revista_Libro_Conferencia_Delete' obj.id %}" class="btn btn-form">Aceptar</a>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <tr>
          <td colspan="4" style="text-align: center;">No hay modalidades registradas</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}


{% block js %}
<script src="{% static 'libs/Datatable/JS/jquery-3.7.1.js' %}"></script>
<script src="{% static 'libs/Datatable/JS/dataTables.js' %}"></script>
<script src="{% static 'libs/Datatable/JS/dataTables.bootstrap5.js' %}"></script>
<!--Botones DataTables-->
<script src="{% static 'libs/Datatable/JS/dataTables.buttons.js' %}"></script>
<script src="{% static 'libs/Datatable/JS/buttons.bootstrap5.js' %}"></script>
<script src="{% static 'libs/Datatable/JS/jszip.min.js' %}"></script>
<script src="{% static 'libs/Datatable/JS/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/Datatable/JS/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/Datatable/JS/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/Datatable/JS/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/Datatable/JS/bottons.colVis.min.js' %}"></script>
<!--DataTables responsivo-->
<script src="{% static 'libs/Datatable/JS/dataTables.responsive.js' %}"></script>
<script src="{% static 'libs/Datatable/JS/responsive.bootstrap5.js' %}"></script>
<!--Inicializar DataTables-->
<script>
  $(document).ready(function () {
    $('#RevistaLibroConferencia').DataTable({
      responsive: true,
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print', 'colvis'
      ],
      language: {
        url: "{% static 'libs/Datatable/dataTableLenguage.json' %}"
      },
      columnDefs: [
        { orderable: false, targets: [3] },
        { responsivePriority: 1, targets: [1] },
        { responsivePriority: 2, targets: [0, 2, 3] }
      ]
    });
  });
</script>
{% endblock %}