{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="content">
  <div class="col">
    <div class="container-form">
      <div class="form">
        <div class="container-fluid py-4">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="title">
                  <h3 class="title-text p-3">Detalles de la Revista</h3>
                </div>
                <div class="card-body">
                  <div class="col-md-12">
                    <div class="seccion-formulario">
                      <h5>Datos de la Revista</h5>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-control-label">Nombre</label>
                            <input type="text" class="form-control readonly-input" value="{{ objeto.titulo }}" readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-control-label">Editorial</label>
                            <input type="text" class="form-control readonly-input" value="{{ objeto.editorial }}"
                              readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-control-label">Editorial</label>
                            <input type="text" class="form-control readonly-input" value="{{ objeto.editorial }}"
                              readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-control-label">ISSN</label>
                            <input type="text" class="form-control readonly-input" value="{{ objeto.issn }}" readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-control-label">URL</label>
                            <input type="text" class="form-control readonly-input" value="{{ objeto.url }}" readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-control-label">Pais</label>
                            <input type="text" class="form-control readonly-input" value="{{ objeto.pais }}" readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-control-label">Indexación</label>
                            <input type="text" class="form-control readonly-input" value="{{ objeto.index }}" readonly>
                          </div>
                        </div>
                        <div class="row mt-4">
                          <div class="col-md-12 text-center">
                            <a href="{% url 'Revista_Libro_Conferencia_List' %}" class="btn btn-cancelar ml-3">
                              <i class="fas fa-arrow-left me-2"></i>Volver
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}

      {% block js %}
      <script src="{% static 'js/validations.js' %}"></script>
      {% endblock %}