{% extends "base.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/Dashboard.css' %}">
<link rel="stylesheet" href="{% static 'libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'libs/Datatable/CSS/buttons.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'libs/Datatable/CSS/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'css/datatableSD.css' %}">
<link rel="stylesheet" href="{% static 'css/styless.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
<section class="tabla" id="tablaEventos">
  <div class="card-header">
    <h5 class="card-title" style="text-align:center;">
      Historial de Proyectos
    </h5>
  </div>
  <div class="boot d-flex flex-wrap justify-content-start align-items-center" style="margin-bottom: 20px;">
    <a href="{% url 'Proyecto_Create' %}" class="btn boton-form">
      <i class="fas fa-plus"></i> Nuevo
    </a>
  </div>
 
  <div class="table-responsive">
    <table id="Proyectos" class="display table table-striped table-hover table--primary"
      style="width:100%; height: 100%;">
      <thead class="encabezado">
        <tr>
          <th scope="col" style="text-align: center;">No</th>
          <th scope="col">Nombre</th>
          <th scope="col">Jefe</th>
          <th scope="col">Área</th>
          <th scope="col">Código</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for p in proyecto %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td><a class="details" style="color:#4f69c7 " href="{% url 'Proyecto_Detail_Vicerrector' p.id %}">
              {{p.nombre_proyecto}} </a></td>
          <td>{{p.jefe_proyecto}}</td>
          <td>{{p.area}}</td>
          <td>{{p.codigo_proyecto }}</td>
          <td>
            <a class="cambiar-estado" style="text-decoration: none; color:#4f69c7"
              href="{% url 'Cambiar_Estado_Proyecto' p.id %}">
              {{p.aprobacion}}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  <section class="mb-2 row row-gap-1">
    <section class="col-md-6 col-sm-12" id="graficaProyectos">
      <div class="card">
        <div class="p-2">
          <div id="grafEstadosProyectos">
          </div>
        </div>
      </div>
    </section>
    <section class="col-md-6 col-sm-12" id="graficaBarMarcadores">
      <div class="card">
        <div class="p-2">
          <div id="grafDepartamentosProyectos">
          </div>
        </div>
      </div>
    </section>
    <section class="col-md-6 col-sm-12" id="graficaBarMarcadores">
      <div class="card">
        <div class="p-2">
          <div id="grafSubtiposProyectos">
          </div>
          <div class="leyenda">
            <ul>
              <li><span style="color: #7cb5ec;">PE</span> - Proyectos Empresariales</li>
              <li><span style="color: #93ba22;">PI</span> - Proyectos Institucionales</li>
              <li><span style="color: #90ed7d;">PNE</span> - Proyectos con Entidades No Empresariales y de la
                Administración Pública</li>
              <li><span style="color: #f7a35c;">PDL</span> - Proyectos de Desarrollo Local</li>
              <li><span style="color: #8085e9;">PRCI</span> - Proyectos en Relación con la Colaboración Internacional
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="col-md-6 col-sm-12" id="graficaBarMarcadores">
      <div class="card">
        <div class="p-2">
          <div id="grafSectorEstrategico">
          </div>
        </div>
      </div>
    </section>
  </section>
</section>

{% endblock %}

<!-- Conatiner JS -->
{% block js%}
<script src="{% static 'Plataforma/libs/Datatable/JS/jquery-3.7.1.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.buttons.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.bootstrap5.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/jszip.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/pdfmake.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/vfs_fonts.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.html5.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.print.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.colVis.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.responsive.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/responsive.bootstrap5.js' %}"></script>
<script src="{% static 'libs/Highcharts/code/highcharts.js' %}"></script>
<script src="{% static 'libs/Highcharts/code/modules/accessibility.js' %}"></script>
<script src="{% static 'libs/Highcharts/code/modules/exporting.js' %}"></script>
<script src="{% static 'libs/Highcharts/code/modules/offline-exporting.js' %}"></script>
<script src="{% static 'libs/Highcharts/code/modules/export-data.js' %}"></script>

<script>
  $(document).ready(function () {
    // Initialize DataTable
    var table = $('#Proyectos').DataTable({
      responsive: true,
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
      ],
      language: {
        url: "{% static 'Plataforma/libs/Datatable/dataTableLenguage.json' %}"
      },
    });

    // Datos para la gráfica de estados de proyectos
    var estadosProyectos = {{ estados_proyectos_json| safe }};
    var dataEstadosProyectos = estadosProyectos.map(function (item) {
    return { name: item.estado_proyecto, y: item.count };
  });

  // Inicializar la gráfica de estados de proyectos
  Highcharts.chart('grafEstadosProyectos', {
    chart: { type: 'pie' },
    title: { text: 'Estados de Proyectos' },
    series: [{
      name: 'Cantidad',
      data: dataEstadosProyectos
    }]
  });


  // Datos para la gráfica de proyectos por departamento
  var departamentosProyectos = {{ departamentos_proyectos_json| safe }};
  var dataDepartamentosProyectos = departamentosProyectos.map(function (item) {
    return { name: item.departamento, y: item.count };
  });

  // Inicializar la gráfica de proyectos por departamento
  Highcharts.chart('grafDepartamentosProyectos', {
    chart: { type: 'bar' },
    title: { text: 'Proyectos por Departamento' },
    xAxis: {
      categories: departamentosProyectos.map(function (item) { return item.departamento; })
    },
    yAxis: {
      title: { text: 'Cantidad de Proyectos' }
    },
    series: [{
      name: 'Proyectos',
      data: dataDepartamentosProyectos
    }],
    legend: {
      enabled: false
    },
    credits: {
      enabled: false
    }
  });

  // Datos para la gráfica de subtipos de proyectos
  var subtiposProyectos = {{ subtipos_proyectos_json| safe }};
  var dataSubtiposProyectos = subtiposProyectos.map(function (item) {
    return { name: item.subtipo_proyecto, y: item.count };
  });

  // Colores para los subtipos de proyectos
  var coloresSubtipos = {
    'PE': '#7cb5ec', // Color para Proyectos Empresariales
    'PI': '#93ba22', // Color para Proyectos Institucionales
    'PNE': '#90ed7d', // Color para Proyectos con Entidades No Empresariales y de la Administración Pública
    'PDL': '#f7a35c', // Color para Proyectos de Desarrollo Local
    'PRCI': '#8085e9' // Color para Proyectos en Relación con la Colaboración Internacional
  };

  // Inicializar la gráfica de subtipos de proyectos como una gráfica de dona
  Highcharts.chart('grafSubtiposProyectos', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'Subtipos de Proyectos'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.y}</b>'
    },
    accessibility: {
      point: {
        valueSuffix: '%'
      }
    },
    plotOptions: {
      pie: {
        innerSize: '50%'
      }
    },
    series: [{
      name: 'Cantidad',
      data: dataSubtiposProyectos,
      colors: Object.values(coloresSubtipos) // Asigna los colores definidos a los segmentos de la gráfica
    }],
    legend: {
      enabled: false // Desactivamos la leyenda automática de Highcharts
    }
  });

  // Datos para la gráfica de sectores estratégicos
  var sectoresEstrategicos = {{ sector_estrategico| safe }};
  var dataSectoresEstrategicos = sectoresEstrategicos.map(function (item) {
    return { name: item.sector_estrategico, y: item.count };
  });

  // Inicializar la gráfica de sectores estratégicos como una gráfica de barras
  Highcharts.chart('grafSectorEstrategico', {
    chart: {
      type: 'bar'
    },
    title: {
      text: 'Sectores Estratégicos'
    },
    xAxis: {
      categories: sectoresEstrategicos.map(function (item) { return item.sector_estrategico; }),
      title: {
        text: null
      }
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Cantidad de Proyectos',
        align: 'high'
      },
      labels: {
        overflow: 'justify'
      }
    },
    tooltip: {
      valueSuffix: ' proyectos'
    },
    plotOptions: {
      bar: {
        dataLabels: {
          enabled: true
        }
      }
    },
    legend: {
      enabled: false
    },
    series: [{
      name: 'Proyectos',
      data: dataSectoresEstrategicos
    }]
  });
    
     
  });
</script>

{% endblock %}
<!-- End Conatiner JS -->