{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="col">
        <div class="container-form">
            <div class="form">
                <div class="container-fluid py-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="title">
                                    <h3 class="title-text p-3">Detalles del Tipo de Evento</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="seccion-formulario">
                                                <h5>Datos del Evento</h5>
                                                <!-- Datos del Evento -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Nombre</label>
                                                            <input type="text" class="form-control readonly-input"
                                                                value="{{ tipo_evento.nombre }}" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Descripción</label>
                                                            <input type="text" class="form-control readonly-input"
                                                                value="{{ tipo_evento.descripcion }}" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Botones -->
                                            <div class="row mt-4">
                                                <div class="col-md-12 text-center">
                                                    <a href="{% url 'TipoEvento_List' %}" class="btn btn-cancelar ml-3">
                                                        <i class="fas fa-arrow-left me-2"></i>Volver
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}