{% load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Conatiner CSS -->
    <link rel="stylesheet" href="{% static 'Usuarios/css/Login.css' %}">
    <link rel="stylesheet" href="{% static 'Usuarios/libs/boxicons-2.1.4/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'Usuarios/libs/Bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon" type="image/png" sizes="50x50" href="{% static 'Usuarios/img/Id UHo-03.png' %}">
    <link rel="stylesheet" href="{% static 'libs/Bootstrap/icon/bootstrap-icons.min.css' %}">
    <!-- End Conatiner CSS -->
    <title>Sistema de gestión de resultados e indicadores de Ciencia, Tecnología e 
        Innovación de la Universidad de Holguín</title>
</head>

<body>
    <div class="container">
        {% if response %}
        {% if response == 'incorrecto' %}
        <div style="height:40px; position: absolute; right: 20px; top: 40px; display: flex; align-items: center; padding-right: 0rem;"
            class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button style="font-size: 10px; border-bottom: none; position: relative; box-shadow: none;" type="button"
                class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </button>
        </div>
        {% endif %}
        {% endif %}
        <div class="login-container">
            <form action="" method="POST">
                {% csrf_token %}
                <img class="logo" style="margin-left:50px;" src="{% static 'Usuarios/img/Id UHo-01.png' %}" alt="">
                <h2 style="color:#222e58">Confirmación</h2>
                <div class="text">
                    <p>Le enviamos instrucciones por correro electrónico para configurar su contraseña, si existe una
                        cuenta con el correo electrónico que ingresó.
                        Debería resibirlos en breve. si no recibe un correro electrónico, asegurese de haber ingresado
                        la dirección con la que se registró y verifique la carpeta de correos no deseados.
                    </p>
                </div>
                <a class="a" href="{% url 'Login' %}"><i class="bi bi-arrow-left-circle-fill" style="font-size: 0.9rem;padding-right: 2px;font-weight:900;"></i>Regresar a Iniciar Sesión</a>
            </form>

        </div>
    </div>

    <!-- Conatiner JS -->
    <script src="{% static 'Usuarios/js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'Usuarios/js/popper.min.js' %}"></script>
    <script src="{% static 'Usuarios/js/Login.js' %}"></script>
    <script src="{% static 'Usuarios/libs/Bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- End Conatiner JS -->

</body>

</html>