.ini{
    background-image: url('../img/iniciosd.jpg');
}

.imagen-object{
    background-image: url('../img/20240325_073841.jpg');
}
.uho{
    font-size: 50px;
}
.infouho{
    font-size: 30px;
}
.uho-uho{
    font-weight: bold;
    font-size: 2.4em;
}
.mission-container {
    display: flex;
    align-items: center; 
}

.circle-blue {
    display: inline-block;
    width: 20px; /* Tamaño del círculo */
    height: 20px; /* Tamaño del círculo */
    border-radius: 50%;
    background-color: #4481eb;
    margin-right: 10px; /* Espacio entre el círculo y el texto */
}



hr.vertical.dark {
    background-image: linear-gradient(
90deg
, transparent, rgba(0, 0, 0, 0.4), transparent);
}
hr.vertical {
    position: absolute;
    background-color: transparent;
    height: 100%;
    right: 0;
    top: 0;
    width: 1px;
}


.blur {
    backdrop-filter: blur(5px);
}

.shadow-blur {
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
}

.text-gradient {
    background: linear-gradient(to right, #ff105f, #ffad06);
    -webkit-background-clip: text;
    color: transparent;
}


.page-header {
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: 50%;
}

.min-vh-75 {
    min-height: 75vh !important;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    font-weight: 400;
    line-height: 1.6;
}

body {
    margin: 0;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


*, *::before, *::after {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.shadow-blur {
    box-shadow: inset 0 0px 1px 1px rgb(254 254 254 / 90%), 0 20px 27px 0 rgb(0 0 0 / 5%) !important;
}

.blur {
    box-shadow: inset 0px 0px 2px #fefefed1;
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.card {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

.mt-n6 {
    margin-top: -4rem !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: rgba(0, 0, 0, 0.125);
    --bs-card-border-radius: 0.75rem;
    --bs-card-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --bs-card-inner-border-radius: 0.75rem;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: #fff;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}


.font-weight-bolder {
    margin-top: 0; /* Ajusta el margen superior si es necesario */
}

.container{
  
    max-width: 90%;
    margin: auto;
}
.banner{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: 1px solid #dce1e4;
    padding-bottom: 50px;
}

:root{
    --light: #eaecee;
    --color-text: #3c3e41;
    --box-shadow: 
    5px 5px 15px #c1c8d3, 
    -5px -5px 15px #ffffff;
}
.banner .contennt{
    text-align: justify;
}
.banner .contennt h4{
    font-size: 3.5em;
    margin: 0;
}
.gradientText{
    display: inline-block;
    background: whitesmoke;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.job{
    font-size: 2.4em;
    display: inline-block;
    white-space: nowrap;
    font-size: calc(1vw + 1vh + 0.5vmin); /* Ajusta el tamaño del texto basado en el tamaño de la ventana */
}
.job::before{
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    content: attr(data-job1);
    overflow: hidden;
    display: inline-flex;
    animation: effectText 1s linear infinite alternate, changeText 4s linear infinite;
}

@keyframes effectText{
    from{
        max-width: 0;
    }to{
        max-width: 800px;
    }
}
@keyframes changeText{
    from{
        content: attr(data-job1);
    }
    to{
        content: attr(data-job2);
    }
    
}
